{% extends 'entity/show_form.html.twig' %}

{% block title %}{{ object.id ? 'Edit':'New' }} {{ label }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ object.id ? 'Edit':'Create new' }} {{ label }}</h1>
        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal','id':'block-validate'} }) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript_child %}
    <script>
        $('#fab-delete').hide();
        $('#li-cancel').addClass('col-xs-offset-class');
        $('#fab-save').click(function () {
            $('#block-validate').submit();
        });
        $('#fab-cancel').attr('href', '{{ path(slug~'_index') }}');
    </script>
{% endblock %}