{% extends 'base.html.twig' %}

{% block title %}Batiment index{% endblock %}

{% block body %}
    <h1>Batiment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>NiveauVille</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for batiment in batiments %}
            <tr>
                <td>{{ batiment.nom }}</td>
                <td>{{ batiment.description }}</td>
                <td>{{ batiment.niveauVille }}</td>
                <td>{{ batiment.id }}</td>
                <td>
                    <a href="{{ path('batiment_show', {'id': batiment.id}) }}">show</a>
                    <a href="{{ path('batiment_edit', {'id': batiment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('batiment_new') }}">Create new</a>
{% endblock %}