{% extends 'base_back.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1>Competence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Unique</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.nom }}</td>
                <td>{{ competence.description }}</td>
                <td>{{ competence.unique ? 'Yes' : 'No' }}</td>
                <td>{{ competence.id }}</td>
                <td>
                    <a href="{{ path('competence_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competence_new') }}">Create new</a>
{% endblock %}