{% extends 'base_back.html.twig' %}

{% block title %}Creature index{% endblock %}

{% block body %}
    <h1>Creature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Attaque</th>
                <th>Defense</th>
                <th>PuissanceMagique</th>
                <th>Esprit</th>
                <th>DommageMin</th>
                <th>DommageMax</th>
                <th>Pdv</th>
                <th>Initiative</th>
                <th>Vitesse</th>
                <th>Tirs</th>
                <th>Mana</th>
                <th>Croissance</th>
                <th>Moral</th>
                <th>Chance</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creature in creatures %}
            <tr>
                <td>{{ creature.nom }}</td>
                <td>{{ creature.description }}</td>
                <td>{{ creature.attaque }}</td>
                <td>{{ creature.defense }}</td>
                <td>{{ creature.puissanceMagique }}</td>
                <td>{{ creature.esprit }}</td>
                <td>{{ creature.dommageMin }}</td>
                <td>{{ creature.dommageMax }}</td>
                <td>{{ creature.pdv }}</td>
                <td>{{ creature.initiative }}</td>
                <td>{{ creature.vitesse }}</td>
                <td>{{ creature.tirs }}</td>
                <td>{{ creature.mana }}</td>
                <td>{{ creature.croissance }}</td>
                <td>{{ creature.moral }}</td>
                <td>{{ creature.chance }}</td>
                <td>{{ creature.id }}</td>
                <td>
                    <a href="{{ path('creature_show', {'id': creature.id}) }}">show</a>
                    <a href="{{ path('creature_edit', {'id': creature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('creature_new') }}">Create new</a>
{% endblock %}