{% extends 'base.html.twig' %}

{% block title %}Creature{% endblock %}

{% block body %}
    <h1>Creature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ creature.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ creature.description }}</td>
            </tr>
            <tr>
                <th>Attaque</th>
                <td>{{ creature.attaque }}</td>
            </tr>
            <tr>
                <th>Defense</th>
                <td>{{ creature.defense }}</td>
            </tr>
            <tr>
                <th>PuissanceMagique</th>
                <td>{{ creature.puissanceMagique }}</td>
            </tr>
            <tr>
                <th>Esprit</th>
                <td>{{ creature.esprit }}</td>
            </tr>
            <tr>
                <th>DommageMin</th>
                <td>{{ creature.dommageMin }}</td>
            </tr>
            <tr>
                <th>DommageMax</th>
                <td>{{ creature.dommageMax }}</td>
            </tr>
            <tr>
                <th>Pdv</th>
                <td>{{ creature.pdv }}</td>
            </tr>
            <tr>
                <th>Initiative</th>
                <td>{{ creature.initiative }}</td>
            </tr>
            <tr>
                <th>Vitesse</th>
                <td>{{ creature.vitesse }}</td>
            </tr>
            <tr>
                <th>Tirs</th>
                <td>{{ creature.tirs }}</td>
            </tr>
            <tr>
                <th>Mana</th>
                <td>{{ creature.mana }}</td>
            </tr>
            <tr>
                <th>Croissance</th>
                <td>{{ creature.croissance }}</td>
            </tr>
            <tr>
                <th>Moral</th>
                <td>{{ creature.moral }}</td>
            </tr>
            <tr>
                <th>Chance</th>
                <td>{{ creature.chance }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ creature.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('creature_index') }}">back to list</a>

    <a href="{{ path('creature_edit', {'id': creature.id}) }}">edit</a>

    {{ include('creature/_delete_form.html.twig') }}
{% endblock %}