{% extends 'base_back.html.twig' %}

{% block title %}Panoplie{% endblock %}

{% block body %}
    <h1>Panoplie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ panoplie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ panoplie.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ panoplie.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panoplie_index') }}">back to list</a>

    <a href="{{ path('panoplie_edit', {'id': panoplie.id}) }}">edit</a>

    {{ include('panoplie/_delete_form.html.twig') }}
{% endblock %}