{% extends 'base_back.html.twig' %}

{% block title %}Hero index{% endblock %}

{% block body %}
    <h1>Hero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Attaque</th>
                <th>Defense</th>
                <th>PuissanceMagique</th>
                <th>Esprit</th>
                <th>Mana</th>
                <th>Moral</th>
                <th>Chance</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hero in heroes %}
            <tr>
                <td>{{ hero.nom }}</td>
                <td>{{ hero.description }}</td>
                <td>{{ hero.attaque }}</td>
                <td>{{ hero.defense }}</td>
                <td>{{ hero.puissanceMagique }}</td>
                <td>{{ hero.esprit }}</td>
                <td>{{ hero.mana }}</td>
                <td>{{ hero.moral }}</td>
                <td>{{ hero.chance }}</td>
                <td>{{ hero.id }}</td>
                <td>
                    <a href="{{ path('hero_show', {'id': hero.id}) }}">show</a>
                    <a href="{{ path('hero_edit', {'id': hero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hero_new') }}">Create new</a>
{% endblock %}