{% extends 'base_back.html.twig' %}

{% block title %}Hero{% endblock %}

{% block body %}
    <h1>Hero</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ hero.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hero.description }}</td>
            </tr>
            <tr>
                <th>Attaque</th>
                <td>{{ hero.attaque }}</td>
            </tr>
            <tr>
                <th>Defense</th>
                <td>{{ hero.defense }}</td>
            </tr>
            <tr>
                <th>PuissanceMagique</th>
                <td>{{ hero.puissanceMagique }}</td>
            </tr>
            <tr>
                <th>Esprit</th>
                <td>{{ hero.esprit }}</td>
            </tr>
            <tr>
                <th>Mana</th>
                <td>{{ hero.mana }}</td>
            </tr>
            <tr>
                <th>Moral</th>
                <td>{{ hero.moral }}</td>
            </tr>
            <tr>
                <th>Chance</th>
                <td>{{ hero.chance }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ hero.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hero_index') }}">back to list</a>

    <a href="{{ path('hero_edit', {'id': hero.id}) }}">edit</a>

    {{ include('hero/_delete_form.html.twig') }}
{% endblock %}