{% extends 'base_back.html.twig' %}

{% block title %}Capacite index{% endblock %}

{% block body %}
    <h1>Capacite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capacite in capacites %}
            <tr>
                <td>{{ capacite.nom }}</td>
                <td>{{ capacite.description }}</td>
                <td>{{ capacite.id }}</td>
                <td>
                    <a href="{{ path('capacite_show', {'id': capacite.id}) }}">show</a>
                    <a href="{{ path('capacite_edit', {'id': capacite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('capacite_new') }}">Create new</a>
{% endblock %}