{% extends 'entity/show_form.html.twig' %}

{% block title %}{{ object.id ? 'Edition':(etat|capitalize) }} {{ label }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">
            <img width="50px" height="50px" src="{{ asset("img/icons/"~slug~".png") }}">
            {{ object.id ? 'Edition':'Création '~etat }} {{ label }}
            <img width="50px" height="50px" src="{{ asset("img/icons/"~slug~".png") }}">
        </h1>
        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal','id':'block-validate'} }) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#fab-cancel').attr('href', '{{ path(slug~'_index') }}');
        {% if not object.id %}
            toggle_cruds($('.fixed-action-btn ul.left-fab').first());
        {% endif %}
    </script>
{% endblock %}