{% extends 'base.html.twig' %}

{% block title %}MachineDeGuerre{% endblock %}

{% block body %}
    <h1>MachineDeGuerre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ machine_de_guerre.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ machine_de_guerre.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ machine_de_guerre.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('machine_de_guerre_index') }}">back to list</a>

    <a href="{{ path('machine_de_guerre_edit', {'id': machine_de_guerre.id}) }}">edit</a>

    {{ include('machine_de_guerre/_delete_form.html.twig') }}
{% endblock %}