{% extends 'base_back.html.twig' %}

{% block title %}Faction{% endblock %}

{% block body %}
    <h1>Faction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NomFaction</th>
                <td>{{ faction.nomFaction }}</td>
            </tr>
            <tr>
                <th>TypeHero</th>
                <td>{{ faction.typeHero }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ faction.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ faction.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('faction_index') }}">back to list</a>

    <a href="{{ path('faction_edit', {'id': faction.id}) }}">edit</a>

    {{ include('faction/_delete_form.html.twig') }}
{% endblock %}