{% extends 'base.html.twig' %}

{% block title %}Sort{% endblock %}

{% block body %}
    <h1>Sort</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ sort.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sort.description }}</td>
            </tr>
            <tr>
                <th>CoutMana</th>
                <td>{{ sort.coutMana }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ sort.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sort_index') }}">back to list</a>

    <a href="{{ path('sort_edit', {'id': sort.id}) }}">edit</a>

    {{ include('sort/_delete_form.html.twig') }}
{% endblock %}