{% extends 'entity/show_index.html.twig' %}

{% block title %}Artefact index{% endblock %}

{% block body %}
    <h1>Artefact index</h1>

    <table class="table table-bordered table-condensed table-hover" id="table_artefact">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Emplacement</th>
                <th>Importance</th>
            </tr>
        </thead>
        <tbody>
        {% for artefact in artefacts %}
            <tr id="{{ artefact.id }}">
                <td>{{ artefact.id }}</td>
                <td>{{ artefact.nom }}</td>
                <td>{{ artefact.description|truncate(255, '...')|raw }}</td>
                <td>{{ artefact.emplacement }}</td>
                <td>{{ artefact.importance }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript_child %}
    <script>
        
        
        $(document).ready(function () {
            toggle_cruds($('.fixed-action-btn ul.left-fab').first());
            $('#table_artefact tbody tr').click(function () 
            {
                if( $(this).hasClass('active') ) {
                    $(this).removeClass('active');
                    toggle_cruds($('.fixed-action-btn ul.left-fab').first());
                    return;
                }
                
                var lastActive = $('#table_artefact tbody tr.active');
                lastActive.first().removeClass('active');
                
                var id = $(this).attr('id');
                $(this).addClass('active');
                
                var urlDelete = '{{ path('artefact_delete', {'id': "id_to_replace"}) }}';
                urlDelete = urlDelete.replace('id_to_replace', id);
                $('#fab-delete').attr('href', urlDelete);
                
                var urlShow = '{{ path('artefact_show', {'id': "id_to_replace"}) }}';
                urlShow = urlShow.replace('id_to_replace', id);
                $('#fab-show').attr('href', urlShow);
                
                var urlEdit = '{{ path('artefact_edit', {'id': "id_to_replace"}) }}';
                urlEdit = urlEdit.replace('id_to_replace', id);
                $('#fab-edit').attr('href', urlEdit);
                
                if( lastActive.length === 0 ) {
                    toggle_cruds($('.fixed-action-btn ul.left-fab').first());
                }
            });
            $('#fab-new').attr('href', '{{ path('artefact_new') }}');
        });
    </script>
{% endblock %}