{% extends 'base.html.twig' %}

{% block title %}Artefact{% endblock %}

{% block body %}
    <h1>Artefact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ artefact.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artefact.description }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ artefact.emplacement }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ artefact.importance }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ artefact.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artefact_index') }}">back to list</a>

    <a href="{{ path('artefact_edit', {'id': artefact.id}) }}">edit</a>

    {{ include('artefact/_delete_form.html.twig') }}
{% endblock %}